* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    width: 300px;
    height: 75px;

}

#cat {
    width: 20%;
    height: 20%;
    transform: rotate(180deg);
    float: left;
    margin-right: 10px;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

li {
    float: right;
}

li a {
    padding: 10px;
    margin: 1px;
    display: block;
}

li a:hover {
    background-color: gray;
}

.navbar {
    position: relative;
    z-index: 1;
}

.header {
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 2;
}

ul {
    list-style-type: none; 
    background-color: beige;   
    overflow: hidden; /* beige bar extends across after entering this code, not sure why*/
    position: sticky;
    padding: 20px;
    position: relative;
    /* top: 0; makes navigation bar sticky when  is applied, but image appears above navigation bar*/

}

body {
    background-color: pink;
}

.footer {
    background-color: purple;
    padding-top: 30px;
    margin-top: 5px;
    text-align: center;
    border-top: 10px solid black;
    width: 100%;
}