* {
    box-sizing: border-box;
    margin: 0;
}

#cat {
    width: 20%;
    height: 20%;
    transform: rotate(180deg);
    float: left;
    margin-right: 10px;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

li {
    float: right;
}

li a {
    padding: 10px;
    margin: 1px;
    display: block;
}

li a:hover {
    background-color: #111111;
}

.navbar {
    position: relative;
    z-index: 1;
}
ul {
    list-style-type: none; 
    overflow: hidden; /* beige bar extends across after entering this code, not sure why*/
    position: sticky;
    position: relative;
    float: right;
    /* top: 0; makes navigation bar sticky when  is applied, but image appears above navigation bar*/
}

body {
    background-color: pink;
    line-height: 150%;
    font-size: 16px;
    
}

#heading {
    height: 50px;
    background-color: gray;
    width: 100%;
    border-bottom: 10px solid black;

}

h1 {
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: aqua;
    float: left;
    width: 20%;
}

.footer {
    background-color: purple;
    padding-top: 30px;
    margin-top: 5px;
    text-align: center;
    border-top: 10px solid black;
    width: 100%;
}